<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Centauros Bank</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<main><!-- userRoles="main">-->

    <div class="container">
        <h1 class="well">Creacion de Estudiante</h1>
        <div class="col-lg-12 well">
            <div class="row">
                <form th:object="${student}" method="post">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Codigo estudiante</label>
                                <input type="text" placeholder=""
                                       class="form-control" th:field="*{StudentCode}" th:value="${student.getStudentCode()}" required="true"/>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Nombres estudiante</label>
                                <input type="text" placeholder=""
                                       class="form-control" th:field="*{StudentName}" th:value="${student.getStudentName()}" required="true"/>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Apellidos estudiante</label>
                                <input type="text" placeholder=""
                                       class="form-control" th:field="*{StudentSurname}" th:value="${student.getStudentSurname()}" required="true"/>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Correo estudiante</label>
                                <input type="text" placeholder=""
                                       class="form-control" th:field="*{StudentMail}" th:value="${student.getStudentMail()}" required="true"/>
                            </div>
                            <button type="submit" class="btn btn-lg btn-info">Actualizar Estudiante</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>